@charset "UTF-8";
@import url("/css/lyontext/font.css");
@import url("/css/lyondisplay/font.css");
@import url("/css/inter/font.css");

* {
  font-feature-settings: "kern" 1, "liga" 1, "onum" 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-variant-numeric: normal;
  -webkit-font-smoothing: antialiased;
}

html {
  background: #f5f5f5;
  color: #272727;
  hyphens: auto;
  scroll-behavior: smooth;
}

body {
  margin: 10vh auto;
}

.gal {
  width: 90vw;
  margin: 0 auto;
}

@media (min-width: 991.98px) {
  .gal {
    column-count: 3;
  }
}

@media (max-width: 991.98px) {
  .gal {
    column-count: 2;
  }
}

@media (max-width: 575.98px) {
  .gal {
    column-count: 2;
  }
}

.gal-image {
  width: 100%;
  margin-bottom: 1rem;
  border: 1px inset #27272744;
}

.gal-thumb {
  margin: 0;
}

h1 {
  font-family: "InterDisplay", -apple-system, "system-ui", Helvetica, sans-serif;
  margin: 0 auto;
  text-align: left;
  width: 90vw;
}

hr {
  border: 0;
  border-bottom: 1px solid #d8d8d8;
  content: "";
  margin: 2rem auto;
  width: 90vw;
}

article {
  font-family: "Lyon Text", "Georgia", "Times New Roman", serif;
  font-size: clamp(1.125rem, 1.4vw, 1.375rem);
  line-height: 1.5;
  margin: 0 auto;
  max-width: 90vw;
}

p {
  max-width: 60ch;
  margin: 0.25rem auto;
}

.backtotop {
  background: #ebebeb;
  border: 1px solid #d8d8d8;
  border-radius: 2rem;
  bottom: 2rem;
  font-family: "Suisse Intl", "Helvetica Neue", "Verdana", sans-serif;
  font-size: 2rem;
  padding: 1.5rem;
  position: fixed;
  right: 2rem;
  text-decoration: none;
  z-index: 1;
}
.backtotop:hover {
  color: #a93232;
  border-radius: 2rem;
  text-decoration: none;
}

a {
  background: none;
  border-bottom: 1px solid #c3c3b4;
  color: #585858;
  text-decoration: none;
}

a::visited {
  color: #585858;
}

a:hover {
  background: #ebebeb;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #ebebeb;
}

::-webkit-scrollbar-thumb {
  background: #c4c4c4;
}

::-webkit-scrollbar-thumb:hover {
  background: #585858;
}
